
<!-- <div class="my-3">

    <h2> Zip Forkjoin </h2>
    <br>

    <div class="row">

        <div class="col-md-3 pr-4">

            <strong>Name</strong>

            <hr>
            <select class="form-control" #name>
                <option disabled>Select Name</option>
                <option>Choose Name</option>
                <option *ngFor="let item of nameSource">{{item}}</option>
            </select>

            <br>
            <br>

            <strong>Country</strong>
            
            <hr>
            <select class="form-control" #country>
                <option disabled>Select Country</option>
                <option>Choose Country</option>
                <option *ngFor="let item of countrySource">{{item}}</option>
            </select>


        </div>


        <div class="col-md-9 ml-auto">
            <strong>Zip</strong>
            <hr>
            <div class="wrapper" id="elContainer">
                
            </div>

            <strong>Forkjoin</strong>
            <hr>
            <div class="wrapper" id="elContainer2">
                
            </div>
        </div>        

    </div>

</div> -->


<div class="my-3">

    <h2> CombineLatest WithLatestFrom </h2>
    <br>

    <div class="row">

        <div class="col-md-3 pr-4">

            <strong>Name</strong>

            <hr>
            <select class="form-control" #name>
                <option disabled>Select Name</option>
                <option>Choose Name</option>
                <option *ngFor="let item of nameSource">{{item}}</option>
            </select>

            <br>
            <br>

            <strong>Country</strong>
            
            <hr>
            <select class="form-control" #country>
                <option disabled>Select Country</option>
                <option>Choose Country</option>
                <option *ngFor="let item of countrySource">{{item}}</option>
            </select>


        </div>


        <div class="col-md-9 ml-auto">
            <strong>CombineLatest</strong>
            <hr>
            <div class="wrapper" id="elContainer">
                
            </div>

            <strong>WithLatestFrom</strong>
            <hr>
            <div class="wrapper" id="elContainer2">
                
            </div>
        </div>        

    </div>

</div>